
@font-face {
  font-family: 'Antonia H2';
  src: url('/path-to-your-font/Antonia-H2-Regular.woff2') format('woff2'),
       url('/path-to-your-font/Antonia-H2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Antonia H2';
}
